<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>
        <app-keys-grid-item char="w" [state]="sharedStates.error"></app-keys-grid-item>
        <app-keys-grid-item char="a" [state]="sharedStates.active"></app-keys-grid-item>
        <app-keys-grid-item char="g" [state]="sharedStates.inactive"></app-keys-grid-item>
      </h2>
    </div>
  </div>
  
<hr>

<div class='row'>
  <div class="col-xs-12">
    <button class='btn btn-primary' type='submit'>click!</button>
  </div>
</div>
</div>