<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-keys-grid></app-keys-grid>
    </div>
  </div>
  
  <hr>
  <div class="row">
    <div class="col-md-12">
      <app-keys-grid-item char='w' [direction]='sharedDirections.right'></app-keys-grid-item>
    </div>
  </div>
  
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <app-keys-grid-arrow [direction]='sharedDirections.up'></app-keys-grid-arrow>
    </div>
  </div>

  <hr>
  <div class="row">
    <div class="col-md-12">
      <button class='btn btn-primary' type='submit'>click!</button>
    </div>
  </div>
  
</div>