img.rel-down {
  position:relative;
  top:68px;
  left:5px;
 }

img.rel-up {
  position:relative;
  top:16px;
  left:5px;
 }

img.rel-left {
  position:relative;
  top:40px;
  left:-22px;
 }

img.rel-right {
  position:relative;
  top:40px;
  left:30px;
 }