img.abs-down {
  position: absolute;
  top:33px;
  left:5px;
 }

img.abs-up {
  position: absolute;
  top:-20px;
  left:5px;
 }

img.abs-left {
  position: absolute;
  top:7px;
  left:-23px;
 }

img.abs-right {
  position: absolute;
  top:7px;
  left:30px;
 }

 div.rel {
  position: relative;
 }