<div class='rel' [ngSwitch]='direction'>
  <img *ngSwitchCase="sharedDirections.down" class='abs-down' src='../assets/images/arrow-down.png' alt="arrow-down">
  <img *ngSwitchCase="sharedDirections.up" class='abs-up' src='../assets/images/arrow-up.png' alt="arrow-up">
  <img *ngSwitchCase="sharedDirections.left" class='abs-left' src='../assets/images/arrow-left.png' alt="arrow-left">
  <img *ngSwitchCase="sharedDirections.right" class='abs-right' src='../assets/images/arrow-right.png' alt="arrow-right">
</div>
